<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>Angular Thumbnail</title>
  </head>
  <body ng-app="TestApp">
    <div ng-controller="TestController">
      <h2>Original image</h2>
      <img ng-src="{{img.original}}">
      <hr>

      <h2>Thumbnail with default settings (100x100)</h2>
      <ui-thumbnail src="img.original"></ui-thumbnail>
      <hr>

      <h2>Thumbnail with custom settings (50x50)</h2>
      <ui-thumbnail src="img.original" opts="settings"></ui-thumbnail>
      <h4>Change the custom settings</h4>
      Width: <input type="text" ng-model="settings.width">
      Height: <input type="text" ng-model="settings.height">
      <hr>

      <h2>Thumbnail with custom settings (50x50) but no scope binding (will not change)</h2>
      <ui-thumbnail src="'http://www.w3schools.com/angular/pic_angular.jpg'" opts="{width: 50, height: 50}"></ui-thumbnail>
      <hr>

      <h2>Change image</h2>
      <button ng-click="changeToOther()">Apply!</button>
      <hr>

      <h2>Client side thumbnail generation!!!!</h2>
      <button ng-click="getDataUrl()">Peek at data url</button>
      <button ng-click="getBlob()">Peek at blob</button>

    </div>

    <script src="bower_components/blueimp-canvas-to-blob/js/canvas-to-blob.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="angular-thumbnail.js"></script>

    <script>
      angular.module('TestApp', ['ui.thumbnail'])

      .controller('TestController', function($scope, ThumbnailService) {
        $scope.img = {
          original: 'img/pic_angular.jpg',
          other: 'img/CrYC9HBz.png'
        };
        $scope.settings = {
          width: 50,
          height: 50
        };

        $scope.changeToOther = function changeToOther() {
          $scope.img.original = $scope.img.other;
        };

        $scope.getDataUrl = function getDataUrl() {
          ThumbnailService.generate($scope.img.original).then(
            function success(data) {
              alert(data.substring(0, 30));
            },
            function error(reason) {
              alert('Error: ' + reason);
            }
          );
        };

        $scope.getBlob = function getBlob() {
          ThumbnailService.generate($scope.img.original, {returnType: 'blob'}).then(
            function success(blob) {
              alert(typeof blob);
            },
            function error(reason) {
              alert('Error: ' + reason);
            }
          );
        };
      })

      ;
    </script>

  </body>
</html>
